<section>
  <app-feedback-overlay></app-feedback-overlay>
  <div class="section-content">
    <div class="headline">
      <h2>Passwort zurücksetzen</h2>
    </div>
    <form #form="ngForm">
      <div class="input">
        <img [src]="lockImg" alt="Lock Icon" />
        <input
          placeholder=" Neues Passwort"
          [type]="passwordFieldType"
          name="password"
          [(ngModel)]="passwordText"
          (focus)="onFocus('password')"
          (blur)="onBlur('password')"
          (input)="onInput('password', $event)"
          #passwortInput="ngModel"
          required
          password
        />
        <img
          (mousedown)="onPasswordMouseDown()"
          (mouseup)="onPasswordMouseUp()"
          (mouseleave)="onPasswordMouseUp()"
          class="visibility-icon"
          [src]="visibilityIcon"
          alt="visibility Icon"
        />
        <div
          class="error-message"
          *ngIf="passwortInput.invalid && passwortInput.touched && showError"
        >
          *Ungültiges Passwort. Bitte beachte das ...
        </div>
      </div>
      <div class="input">
        <img [src]="confirmLockImg" alt="Lock Icon" />
        <input
          placeholder="Passwort bestätigen"
          [type]="confirmPasswordFieldType "
          name="confirm"
          [(ngModel)]="confirmPasswordText"
          (focus)="onFocus('confirm')"
          (blur)="onBlur('confirm')"
          (input)="onInput('confirm', $event)"
          #confirmPasswortInput="ngModel"
          required
          confirm
        />
        <img
          (mousedown)="onConfirmMouseDown()"
          (mouseup)="onConfirmMouseUp()"
          (mouseleave)="onConfirmMouseUp()"
          class="visibility-icon"
          [src]="confirmVisibilityIcon"
          alt="visibility Icon"
        />
        <div
          class="error-message"
          *ngIf="
            confirmPasswortInput.invalid &&
            confirmPasswortInput.touched &&
            showError
          "
        >
          *Passwörter müssen übereinstimmen.
        </div>
      </div>
    </form>
    <div class="new-pw-btn">
      <button
        [disabled]="isPasswordValid"
        [ngClass]="{
          'primary-btn': !isPasswordValid,
          'disabled-btn': isPasswordValid
        }"
        (click)="updatePw()"
        class="primary-btn"
      >
        Passwort ändern
      </button>
    </div>
  </div>
</section>
<app-footer></app-footer>