@-moz-keyframes mozSlideIn {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
        width: 100vw;
    }

    35% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
        width: 100vw;
    }

    40% {
        top: calc(50% - 40vh);
        left: calc(50% - 40vw);
        height: calc(80vh);
        width: calc(80vw);
        transform: none;
    }

    45% {
        top: 0;
        left: 0;
        height: 80vh;
        width: 80vw;
    }

    80% {
        top: 7px;
        left: 50px;
        width: 400px;
        height: 200px;
    }

    100% {
        top: 7px;
        left: 50px;
        width: 230px;
        height: 101px;
    }
}