section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 25px;
    height: 70px;
    width: 70px;
    width: 100%;

    >div {
        margin-left: 50px;
        display: flex;
        align-items: center;
        width: 242px;
    }

    svg {
        height: 70px;
        width: 70px;
        margin-right: 16px;
    }
}

h1 {
    font-size: 30px;
}

app-searchbar {
    width: 100%;
}

app-profile {
    width: 491px;
}

@media screen and (max-width: 1024px) {
    section {
        top: 0;
        height: 80px;
        margin-bottom: 88px;

        >div {
            margin-left: 16px;
        }

        svg {
            height: 45px;
            width: 45px;
            margin-right: 11px;
        }
    }

    h1 {
        font-size: 24px;
    }

    app-searchbar {
        position: absolute;
        top: 80px;
        background-color: white;
        height: 56px;
        padding-top: 32px;
    }

    app-profile {
        width: auto;
    }
}