section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 145px;
    width: 70px;
    width: 100%;
    background-color: #eceefe;

    >div {
        margin-left: 50px;
        display: flex;
        align-items: center;
        width: 242px;
        animation: slidein 1.5s ease-in-out;
    }

    .spaceholderLogo {
        height: 70px;
        width: 70px;
        margin-right: 16px;
    }

    .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        animation: slidein 2s linear;

        svg {
            height: 70px;
            width: 70px;
            z-index: 10;
            animation: slideinSVG 2s linear;
        }
    }
}

h1 {
    font-size: 30px;
}

app-searchbar {
    width: 100%;
}

app-profile {
    width: 491px;
}

@keyframes slidein {
    0% {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: linear-gradient(#797df2, #323be6);
    }

    20% {
        height: 100vh;
        width: 100%;
    }

    75% {
        top: 0;
        left: 0;
        height: 200px;
        width: 200px;
        background: linear-gradient(#797df2, #323be6);
    }

    100% {
        top: 38px;
        left: 50px;
        height: 70px;
        width: 70px;
        background: transparent;
    }
}

@keyframes slideinSVG {
    0% {
        height: 184px;
        width: 184px;
    }

    20% {
        height: 184px;
        width: 184px;
    }

    100% {
        height: 70px;
        width: 70px;
    }
}

@media screen and (max-width: 1024px) {
    section {
        top: 0;
        height: 80px;
        margin-bottom: 88px;

        >div {
            margin-left: 16px;
        }

        svg {
            height: 45px;
            width: 45px;
            margin-right: 11px;
        }
    }

    h1 {
        font-size: 24px;
    }

    app-searchbar {
        position: absolute;
        top: 80px;
        background-color: white;
        height: 56px;
        padding-top: 32px;
    }

    app-profile {
        width: auto;
    }
}