section {
    background-color: white;
    height: 100%;
    width: 306px;
    border-radius: 30px;
    padding: 0px 26px 32px 30px;
    overflow-y: auto;
    scrollbar-width: none;
    animation: slideInBar 0.2s ease-in-out;
    box-sizing: border-box;

    h2 {
        padding-block: 18px;
        margin: 0;
        font-size: 24px;
        width: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background-color: white;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 40px;
            height: 40px;

            .editChannel {
                cursor: pointer;
                margin-right: -2px;
                border-radius: 8px;
                padding: 6px;

                &:hover {
                    filter: invert(38%) sepia(80%) saturate(2932%) hue-rotate(225deg) brightness(107%) contrast(94%);
                }
            }

            &:hover {
                background-color: #ECEEFE;
            }
        }
    }

    h3 {
        font-size: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        gap: 10px;
        margin: 0;
        margin-bottom: 25px;

        &:hover {
            color: #535AF1;
        }

        &:hover .channels path {
            fill: #535AF1;
        }

        >a {
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            >img {
                width: 10px;
                height: 7px;
            }
        }
    }

    >span {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 166px;
        background-color: #ECEEFE;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 700;
        color: #535AF1;
        margin-bottom: 25px;
        margin-left: 25px;
        gap: 15px;
        padding: 4px 17px 4px 17px;
    }

    >a {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: 25px;
        margin-left: 25px;
        gap: 15px;
        padding: 4px 14px 4px 14px;
    }

    h1 {
        font-size: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;

        svg {
            padding-right: 10px;
        }

        >a {
            cursor: pointer;
            width: 30px;
            height: 30px;
            margin-right: 9px;
            display: flex;
            justify-content: center;
            align-items: center;

            >img {
                width: 10px;
                height: 7px;
            }
        }
    }
}

.addBtn {
    cursor: pointer;
    border-radius: 50%;
    width: 34px;
    height: 30px;
    font-size: 24px;
    margin-bottom: 25px;

    &:hover {
        background-color: #ECEEFE;
        color: #535AF1;
        font-size: 25px;
        font-weight: 700;
    }
}

.editChannelResp {
    display: none;
}

.users {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 0px 4px 20px;
    height: 50px;
    gap: 15px;

    >div {
        position: relative;
        height: 50px;
    }

    img {
        height: 50px;
        cursor: pointer;
    }

    span {
        cursor: pointer;
        position: absolute;
        left: 36px;
        bottom: 2px;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        border: 2px #edefff solid;
    }
}

.slideOut {
    transform: translateX(-110%);
    transition: transform 0.2s ease-in-out;
}

.rotateArrow {
    transform: rotate(-90deg);
}

@keyframes slideInBar {
    0% {
        transform: translateX(-110%);
    }

    100% {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 1024px) {
    section {
        width: calc(100% - 100px);
        height: calc(100vh - 252px);
        padding: 7px 30px 32px 30px;

        h2 {
            display: none;
        }

        >span {
            width: 166px;
            background-color: white;
            font-size: 18px;
            font-weight: 400;
            color: black;
            padding: 4px 20px 4px 20px;

            >img {
                filter: brightness(0) saturate(0);
                height: 16px;
                width: 16px;
            }
        }

        >a {
            color: #535AF1;
            font-size: 18px;
            margin-bottom: 25px;
            margin-left: 25px;
            gap: 15px;
            padding: 4px 20px 4px 20px;

            >img {
                filter: invert(38%) sepia(80%) saturate(2932%) hue-rotate(225deg) brightness(107%) contrast(94%);
            }
        }
    }

    .addBtn {
        filter: invert(38%) sepia(80%) saturate(2932%) hue-rotate(225deg) brightness(107%) contrast(94%);
    }

    .editChannelResp {
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #535AF1;
        border-radius: 50%;
        position: absolute;
        height: 60px;
        width: 60px;
        right: 16px;
        bottom: 41px;

        >img {
            filter: invert(1);
        }
    }
}

@media screen and (max-width: 375px) {
    section {
        width: calc(100% - 50px);
        height: calc(100vh - 232px);
        padding: 7px 5px 12px 5px;
    }
}