<section>
    <div *ngIf="!isEditMode" class="view">
        <div class="top">
            <h2>Profil</h2>
            <img src="/close.svg" alt="close icon">
        </div>
        <div class="avatar">
            <img src="/steffen-hoffmann-avatar.png">
        </div>
        <div class="name">
            <div class="edit">
                <h1>{{ name }}</h1>
                <a href="#" (click)="toggleEditMode()">Bearbeiten</a>
            </div>
            <div class="status-container">
                <div class="status" [ngClass]="{ active: isActive, inactive: !isActive }"></div>
                <span class="status-text" [ngStyle]="{ color: isActive ? 'green' : 'gray' }">
                    {{ isActive ? 'Aktiv' : 'Abwesend' }}
                </span>
            </div>
        </div>
        <div class="mail">
            <div class="headline">
                <img src="mail-black.png" alt="Mail Icon">
                <h2>E-Mail-Adresse</h2>
            </div>
            <a [href]="'mailto:' + email">{{ email }}</a>
        </div>
    </div>

    <div *ngIf="isEditMode" class="edit-view">
        <div class="top">
            <h2>Profil bearbeiten</h2>
            <img src="/close.svg" alt="close icon">
        </div>
        <div class="avatar">
            <img src="/steffen-hoffmann-avatar.png">
        </div>
        <div class="edit-section">
            <div class="description">
                <img src="/account_circle.svg">
                <h2>Vollständiger Name</h2>
            </div>
            <input type="text" class="input" [placeholder]="name">
        </div>
        <div class="buttons">
            <button class="cancel" (click)="cancel()">
                <span>Abbrechen</span>
            </button>
            <button class="save" (click)="save()">
                <span>Speichern</span>
            </button>
        </div>
    </div>
</section>