section {
  position: relative;
  background-color: #ffffff;
  border-radius: 30px;
  max-width: 606px;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  .back-arrow {
    cursor: pointer;
    position: absolute;
    top: 45px;
    left: 32px;
  }
}

.password-input {
  margin-bottom: 48px !important;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 64px;
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    .input {
      position: relative;
      display: flex;
      align-items: center;
      height: 48px;
      border-radius: 100px;
      background-color: #eceefe;
      font-size: 18px;
      border: 1px solid #eceefe;
      margin-bottom: 40px;
      img {
        position: absolute;
        width: 24px;
        height: 24px;
        margin-inline: 30px;
      }
      input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 18px;
        border-radius: 100px;
        border: 1px solid #eceefe;
        padding-left: 84px;
        &:hover {
          border: 1px solid #686868;
        }
        &:focus {
          outline-style: none;
          border: 1px solid #535af1;
        }
      }
    }
  }
}

.visibility-icon {
  cursor: pointer;
  right: 0px;
}

.error-message {
  position: absolute;
  top: 56px;
  font-size: 14px;
  color: #ed1e79;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 486px;
  h2 {
    color: #444df2;
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 24px;
  }
  span {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.legal-notice {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  margin-bottom: 48px;
  padding-top: 8px;
  a {
    text-decoration: none;
  }
  img {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
  span {
    cursor: pointer;
    font-size: 18px;
    color: #797ef3;
    &:hover {
      background-color: #eceefe;
      border-radius: 30px;
    }
  }
}

.next-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.primary-btn {
  cursor: pointer;
  width: 137px;
  height: 48px;
  border-radius: 25px;
  background-color: #444df2;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  &:hover {
    background-color: #797ef3;
  }
  &:active {
    background-color: #444df2;
  }
}

.disabled-btn {
  cursor: no-drop;
  width: 137px;
  height: 48px;
  border-radius: 25px;
  background-color: #686868;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .section-content {
    form {
      .input {
        height: 48px;
        img {
          margin-inline: 16px;
        }
        input {
          padding-left: 56px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  section {
    margin-inline: 16px;
  }
  .section-content {
    form {
      gap: 16px;
    }
  }
}

@media (max-width: 510px) {
  section {
    .back-arrow {
      top: 30px;
      left: 16px;
    }
  }
  .password-input {
    margin-bottom: 48px !important;
  }
  .section-content {
    padding: 32px 40px;
    .input {
      height: 40px;
    }
  }
  .headline {
    h2 {
      font-size: 32px;
      margin-inline: 16px;
      margin-bottom: 24px;
    }
    span {
      font-size: 16px;
    }
  }
}

@media (max-width: 375px) {
  .password-input {
    margin-bottom: 80px !important;
  }
  .section-content {
    form {
      .input {
        input {
          font-size: 14px;
        }
      }
    }
  }
  .legal-notice {
    div {
      top: 72px;
    }
  }
  .next-btn {
    margin-top: 8px;
  }
  .primary-btn {
    font-size: 14px;
    width: 96px;
    height: 40px;
  }
}
