<section>
    <div class="align">
        <div class="box">
            <img src="/back-arrow.png">
            <div class="imprint">
                <h1>Impressum</h1>
                <ul>
                    <li>Tom Wahrenberg</li>
                    <li>Alexander Hardtke</li>
                    <li>Lars Schuhmacher</li>
                    <li>Florin-Robert Pap</li>
                    <p></p>
                    <p>Am Hexenberg 11<br>09224 Chemnitz</p>
                </ul>
            </div>
            <div class="contact">
                <h2>Kontakt</h2>
                <a href="mailto:contact&#64;tom-wahrenberg.com">contact&#64;tom-wahrenberg.com</a>
            </div>
        </div>

    </div>
</section>