section {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.box {
    background-color: white;
    padding: 48px 56px 48px 56px;
    border-radius: 30px;
    width: 600px;
    font-size: 20px;

    h1 {
        font-size: 46px;
        font-weight: 700;
        color: #444DF2;
        margin: 0;
    }

    h2 {
        font-size: 32px;
        font-weight: 700;
        color: #444DF2;
    }

    p {
        margin-top: 8px;
    }

    img {
        cursor: pointer;
        margin-bottom: 8px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.8);
        }
    }
}


@media screen and (max-width: 768px) {
    .box {
        width: 500px;
        padding: 16px;

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 600px) {
    .box {
        position: fixed;
        width: calc(100% - 56px);
        left: 10px;
        right: 10px;
        display: block;
    }
}