<section>
  <div class="section-content">
    <div class="headline">
      <h2>Anmeldung</h2>
      <span
        >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </span>
    </div>
    <form>
      <div class="input">
        <img src="/mail-grey.png" alt="">
        <input placeholder="beispielname@email.com" type="email" />
      </div>
      <div class="input">
        <img src="/lock-grey.png" alt="">
        <input placeholder="Passwort" type="text" />
      </div>
    </form>
    <span class="forgot-pw">Passwort vergessen?</span>
    <div class="or-div">
      <div class="div-line"></div>
      <span>ODER</span>
      <div class="div-line"></div>
    </div>
    <div class="google-btn">
      <img src="/Google.png" alt="" />
      <span>Anmelden mit Google</span>
    </div>
    <div class="login-btns">
      <button class="primary-btn">Anmelden</button>
      <button class="secondary-btn">Gäste-Login</button>
    </div>
  </div>
</section>
