<section>
  <div class="section-content">
    <div class="headline">
      <h2>Anmeldung</h2>
      <span
        >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </span>
    </div>
    <form>
      <div class="input">
        <input placeholder="beispielname@email.com" type="email" />
      </div>
      <div class="input">
        <input placeholder="Passwort" type="text" />
      </div>
    </form>
    <span>Passwort vergessen?</span>
    <div>
      <div></div>
      <span>ODER</span>
      <div></div>
    </div>
    <div>
      <img src="" alt="" />
      <span>Anmelden mit Google</span>
    </div>
    <div>
      <button>Anmelden</button>
      <button>Gäste-Login</button>
    </div>
  </div>
</section>
