<section class="dFlexCenter">
    <div #createPeopleBox>
        <h2>Leute hinzufügen<span class="dFlexCenter" (click)="openDialog.closeCreateChan()">+</span></h2>

        <form #form="ngForm">

            <div>
                <input [(ngModel)]="selectedOption" name="selection" class="radio" type="radio" value="all" id="all" />
                <label for="all">Alle Mitglieder von Devspace hinzufügen</label>
            </div>

            <div>
                <input [(ngModel)]="selectedOption" name="selection" class="radio" type="radio" value="selectedUser"
                    id="selectedUser" />
                <label for="selectedUser">Bestimmte Leute hinzufügen</label>
            </div>
        </form>
            @if (selectedOption === 'selectedUser') {
            <div class="dropdownInput">
                <input (keyup)="updateField()" [(ngModel)]="searchUser" (focus)="dropdownActive = true" class="searchUser" type="search" placeholder="{{inputPlaceholder}}">

                <div class="invisibleOverlay">
                    @for (select of selectedUser; track $index) {

                    @if ($index < 2) { <p><img src="./{{userImg[$index]}}">{{select}}<span (click)="selectUser(select)">+</span></p>
                        }
                        @if ($index === 2) {
                            <p class="click" (click)="dropdownActive = true">+ {{ selectedUser.length - 2 }} Users</p>
                          }
                        }
                </div>

                @if (dropdownActive) {
                <div class="dropdown" #focusdropdown>
                    @for (user of filteredUsers; track $index) {
                    <div (click)="selectUser(user)" [class.active]="isSelected(user)" class="users">
                        <div>
                            <img src="./{{userImg[$index]}}">
                            <span
                                [ngStyle]="{'background-color': userOnline[$index] ? onlineColor : offlineColor}"></span>
                        </div>
                        <p>{{user}}</p>
                    </div>
                    } @empty {
                    <div class="users">
                        <div>
                            <img src="">
                            <span></span>
                        </div>
                        <p>No Users found</p>
                    </div>
                    }
                </div>
                }
            </div>
            }

        
        <button
            [ngClass]="{'greyButton': !selectedOption || selectedOption === 'selectedUser' && selectedUser.length === 0}"
            (click)="createChanel()">Erstellen</button>

    </div>
</section>