<section class="dFlexCenter">
    <div #createPeopleBox>
        <h2>Leute hinzufügen<span class="dFlexCenter" (click)="openDialog.closeCreateChan()">+</span></h2>

        <form #form="ngForm">

            <div>
                <input [(ngModel)]="selectedOption" name="selection" class="radio" type="radio" value="all" id="all" />
                <label for="all">Alle Mitglieder von Devspace hinzufügen</label>
            </div>

            <div>
                <input [(ngModel)]="selectedOption" name="selection" class="radio" type="radio" value="selectedUser"
                    id="selectedUser" />
                <label for="selectedUser">Bestimmte Leute hinzufügen</label>
            </div>

            @if (selectedOption === 'selectedUser') {
            <div class="dropdownInput" (blur)="dropdownActive = false">
                <input (focus)="dropdownActive = true" class="searchUser" type="search" placeholder="Name eingeben">

                @if (dropdownActive) {
                <div class="dropdown">
                    @for (user of users; track $index) {
                    <div (click)="selectUser(user)" [class.active]="isSelected(user)" class="users">
                        <div>
                            <img src="./{{userImg[$index]}}">
                            <span
                                [ngStyle]="{'background-color': userOnline[$index] ? onlineColor : offlineColor}"></span>
                        </div>
                        <p>{{user}}</p>
                    </div>
                    } @empty {
                    <div class="users">
                        <div>
                            <img src="">
                            <span></span>
                        </div>
                        <p>No Users found</p>
                    </div>
                    }
                </div>
                }
            </div>
            }

        </form>
        <button
            [ngClass]="{'greyButton': !selectedOption || selectedOption === 'selectedUser' && selectedUser.length === 0}"
            (click)="createChanel()">Erstellen</button>

    </div>
</section>