@if (creatingChannel) {
<app-add-people></app-add-people>
} @else {
<section class="dFlexCenter">
    <div #createdChannelBox>
        <h2>Channel erstellen<span class="dFlexCenter" (click)="closeCreateChan()">+</span></h2>
        <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum
            Beispiel.</p>

        <h3>Channel-Name</h3>
        <form #form="ngForm">

            <div>
                <img src="./tag_grey.png" alt="#">
                <input #name="ngModel" placeholder="z.B. Kooperationsprojekte" type="text" [(ngModel)]="channelName"
                    name="channelName" [ngClass]="{'redBorder': !name.valid && name.touched && !name.disabled}"
                    required>
            </div>

            <h3>Channel-Beschreibung <p class="optional">(optional)</p>
            </h3>

            <div>
                <textarea placeholder="Deine Channel-Beschreibung" type="text" [(ngModel)]="channelDescription"
                    name="channelDescription"></textarea>
            </div>

        </form>

        <button [ngClass]="{'greyButton': !name.valid && !name.disabled}"
            (click)="checkChanName()">Erstellen</button>
    </div>
</section>
}