section {
    width: 500px;
    height: 705px;
    padding: 40px 0px 0px 0px;
    gap: 45px;
    border-radius: 30px;
    opacity: 0px;
    box-shadow: 0px 6px 10px 0px #00000033;
    margin-left: 75px;

}

.top {
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 64px;

    img:hover {
        cursor: pointer;
    }
}

.avatar {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    img {
        width: 200px;
        height: 200px;
        gap: 20px;
        border-radius: 500px;
    }
}