section {
    position: relative;
    display: flex;
    align-items: center;
    width: 460px;
    justify-content: right;
    margin-right: 45px;

    h1 {
        margin-right: 20px;
        font-size: 26px;
    }

    svg {
        margin-left: 20px;
        cursor: pointer;
    }
}

div {
    cursor: pointer;
    position: relative;

    >img {
        height: 70px;
    }

    span {
        position: absolute;
        right: 0px;
        bottom: 6px;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        border: 2px #edefff solid;
    }
}

@media screen and (max-width: 1250px) {
    section {
        width: 340px;
        margin-right: 22px;

        h1 {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 1024px) {
    section {
        margin-right: 16px;
        width: auto;

        h1 {
            display: none;
        }

        svg {
            display: none;
        }

        img {
            height: 50px;
        }
    }
}