* {
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin: 0;
}


.chat-box {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: none;
    background-color: white;
    display: flex;
    flex-direction: column;
}


.chat-header {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 10px 0px #00000014;
    border-radius: 30px 30px 0px 0px;

}

.private-chat {
    display: flex;
    align-items: center;
    padding: 32px 45px 20px 45px;

    .title {
        display: flex;
        align-items: center;
        padding: 4px 8px 4px 8px;
        gap: 15px;
        border-radius: 30px;


        &:hover {
            background-color: #ECEEFE;
            cursor: pointer;
        }

    }
}

.channel-chat {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 45px 25px 45px;



    .title {
        display: flex;
        align-items: center;
        border-radius: 30px;
        gap: 5px;
        padding: 6px 10px 6px 10px;
        gap: 10px;
        border-radius: 20px;
        transition: all 125ms ease-in-out;

        h2 {
            margin: 0;
            font-weight: 700;
            transform: scaleX(1.5);
            padding-inline: 5px;

        }

        .arrow-down {
            font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 100, 'opsz' 24;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            font-size: 32px;

        }

        &:hover {

            color: #535AF1;
            background-color: #ECEEFE;
            cursor: pointer;
        }
    }

    .members-container {
        display: flex;
        align-items: center;
        gap: 10px;

        .members {
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            padding: 3px 10px 3px 10px;
            transition: all 125ms ease-in-out;

            div {
                height: 40px;
                margin-left: 11px;

                img {
                    width: 40px;
                    height: 40px;
                    border: 2px solid white;
                    border-radius: 30px;
                    margin-left: -11px;
                }
            }

            p {
                margin: 0;
                font-size: 20px;
                font-weight: 600;
                transition: all 125ms ease-in-out;
            }

            &:hover {
                p {
                    color: #535AF1;
                }

                background-color: #ECEEFE;
                cursor: pointer;
            }
        }

        .add-member {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            border-radius: 30px;
            transition: all 125ms ease-in-out;

            &:hover {
                font-size: 26px;
                cursor: pointer;
                color: #797EF3;
                background-color: #ECEEFE;
            }
        }
    }


}

.thread-chat {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 40px 32px 40px;

    .title {
        display: flex;
        align-items: center;
        gap: 5px;

        h2 {
            color: #797EF3;
            font-size: 14px;
            font-weight: 400;
            margin: 0;
        }

        p {
            transform: scaleX(1.5);
            padding-inline: 5px;
            margin: 0;
            font-size: 15px;
            color: #797EF3;
            font-weight: 500;

        }
    }

    .close-btn {
        font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-radius: 30px;
        transition: all 125ms ease-in-out;

        &:hover {
            cursor: pointer;
            color: #535AF1;
            background-color: #ECEEFE;
            font-size: 26px;
        }
    }

}

.new-chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px 45px 20px 45px;

    input {
        all: unset;
        width: 100%;
        padding: 15px 20px 15px 20px;
        border-radius: 30px;
        border: 1px solid #ADB0D9;
        box-sizing: border-box;

        &:hover {
            border: 1px solid #797EF3;
        }

        &:focus {
            border: 1px solid #444DF2;
        }
    }

}


.avatar-image {
    position: relative;
    width: 50px;
    height: 50px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .status-icon {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        color: white;
        background-color: #92C83E;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 24px;
        overflow: visible;

        &.online {
            background-color: #92C83E;
        }

        &.offline {
            background-color: #686868;
        }
    }
}


.messages-container {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    gap: 20px;
}


.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin: 40px 45px;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    width: calc(100% - 90px);

    textarea {
        all: unset;
        word-break: break-all;
    }

    .actions-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            gap: 5px;

            button {
                all: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50px;
                color: #686868;
                appearance: none;

                &:hover {
                    cursor: pointer;
                    color: #535AF1;
                    background-color: #ECEEFE;
                }
            }
        }

        .send-icon {
            font-variation-settings: 'FILL' 1;
            color: #444DF2;

            &:hover {
                cursor: pointer;
                color: #797EF3;
            }
        }
    }
}

emoji-mart {
    top: -430px;
    left: 0px;
}

