<div class="chat-box" [ngClass]="{ 'active': !channelService.isServer}">


    <div class="chat-header">
        @switch (chatType) {

        @case('new') {
        <div class="new-chat">
            <div class="title">
                <h1>Neue Nachricht</h1>
            </div>
            <input type="search" placeholder="An: #channel, oder @jemand oder E-Mail Adresse">
        </div>
        }

        @case('private') {
        <div class="private-chat">
            <a class="title" (click)="openProfile()">
                <div class="avatar-image">
                    <img src="{{getUserImg()}}" alt="">
                    <mat-icon fontSet="material-symbols-sharp" class="status-icon"
                        [ngClass]="{'offline': getUserStatus() === 'offline', 'online': getUserStatus() === 'online'}">
                        fiber_manual_record
                    </mat-icon>
                </div>
                <h1>{{getUserName()}}</h1>
            </a>
        </div>
        }

        @case('channel') {
        <div class="channel-chat">
            <a (click)="showEditChannel()" class="channel-title">
                <h2>#</h2>
                <h1>{{getChannelName()}}</h1>
                <mat-icon class="arrow-down" fontSet="material-symbols-rounded">keyboard_arrow_down</mat-icon>
            </a>
            <div class="members-container">
                <div class="members">
                    <div>
                        @for(member of getChannelMembers(); track member.id) {

                        <img src="{{member.userImage}}" alt="">
                        }
                    </div>
                    <p>{{getChannelMembers().length}}</p>
                </div>
                <mat-icon class="add-member" fontSet="material-symbols-rounded">person_add</mat-icon>
            </div>
        </div>
        }

        @case('thread') {
        <div class="thread-chat">
            <div class="title">
                <h1>Thread</h1>
                @if (messageService.threadChannelName) {
                <p>#</p>
                <h2>{{messageService.threadChannelName}}</h2>
                }
            </div>
            <mat-icon class="close-btn" (click)="closeThread()" fontSet="material-symbols-rounded">close</mat-icon>
        </div>
        }
        }

    </div>


    @if(openEditChannel) {
    <div class="overlay">
        <p #editChannel id="editChannel">
            <app-edit-channel channelId={{channelService.channelChatId}}
                (onClose)="closeEditChannel()"></app-edit-channel>
        </p>
    </div>
    }


    <div class="messages-container">
        @switch (chatType) {

        @case('channel') {
        @for(message of filteredChannelMessages; track message.id) {
        <app-message [message]="message" [chatType]="chatType"></app-message>
        }@empty {
        <div class="channel-chat-empty">
            <div class="channel-title">
                <h2>#</h2>
                <h1>{{getChannelName()}}</h1>


                <mat-icon class="arrow-down" fontSet="material-symbols-rounded">keyboard_arrow_down</mat-icon>
            </div>
            <p>Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels <span>#
                    {{getChannelName()}}</span>.</p>
        </div>
        }
        }

        @case('private') {
        @for(message of filteredPrivateMessages; track message.id) {
        <app-message [message]="message" [chatType]="chatType"></app-message>
        }@empty {
        <div class="private-chat-empty">
            <div>
                <img src="{{getUserImg()}}" alt="">
                <h1>{{getUserName()}}</h1>
            </div>
            @if(userService.privMsgUserId === userService.loggedUserId){
            <p><b>Dieser Raum ist nur für dich da.</b>Mache dier Notizen, liste deine To-dos auf oder bewahre Links und
                Texten griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst beschprechen.</p>
            }
            @else{
            <p>Diese Unterhaltung findet nur Zwichen <span>&#64;{{getUserName()}}</span> und dir statt</p>
            }
        </div>
        }
        }

        @case('thread') {
        @for(message of filteredThreadMessages; track message.id; let last = $last) {
        @if(last && countThreadAnswers() > 1){
        <div class="thread-separator">
            <p>{{countThreadAnswers() - 1}} Antworten</p>
            <span></span>
        </div>}
        <app-message [message]="message" [chatType]="chatType"></app-message>
        }
        }
        }

    </div>





    <div class="input-container" [class]="{ 'thread-margin': chatType === 'thread' ,
     'reduced-margin': messageService.threadOpen && !channelService.slideOutNavBar && chatType !== 'thread'}">


        @if (emojiPickerOn) {
        <emoji-mart appClickOutside (clickOutside)="closeEmojiPicker()" title="Pick your emoji…" emoji="point_up"
            set="twitter" (emojiClick)="addEmoji($event)"></emoji-mart>
        }

        <textarea type="text" [(ngModel)]="messageText" [placeholder]="getPlaceholder()" rows="2" *ngIf="isBrowser"
            autosize (keyup.enter)="sendMessage()">
        </textarea>

        <div class="actions-container">
            <div>
                <button (click)="toggleEmojiPicker()">
                    <mat-icon fontSet="material-symbols-rounded">sentiment_satisfied</mat-icon>
                </button>

                <button>
                    <mat-icon fontSet="material-symbols-rounded">alternate_email</mat-icon>
                </button>
            </div>

            <mat-icon fontSet="material-symbols-rounded" class="send-icon" (click)="sendMessage()">send</mat-icon>

        </div>
    </div>

</div>



@if(openProfileBox) {
<div class="overlay">
    <p #profileBox id="profileBox">
        <app-contact-window userId={{userService.privMsgUserId}} (onClose)="closeProfilBox()"></app-contact-window>
    </p>
</div>
}