<section class="dFlexCenter">
    <div #createdChannelBox class="nameBox createBox" id="createdChannelBox">
        <h2># {{channel.chanName}}<span class="dFlexCenter" (click)="closeEditChannel()">+</span></h2>

        <div class="align">
            <h3>Channel-Name</h3>
            <a (click)="updateChannel()">Speichern</a>
        </div>

        <form #form="ngForm">

            <div>
                <img src="./tag_grey.png" alt="#">
                <input #name="ngModel" placeholder="z.B. Kooperationsprojekte" type="text" [(ngModel)]="channel.chanName"
                    name="channelName" [ngClass]="{'redBorder': !name.valid && name.touched && !name.disabled}"
                    minlength="3" class="createChanInput" required>
            </div>

            <div class="align">
                <h3>Beschreibung</h3>
                <a (click)="updateChannel()">Speichern</a>
            </div>

            <div>
                <textarea placeholder="Deine Channel-Beschreibung" type="text" [(ngModel)]="channel.chanDescription"
                    name="channelDescription"></textarea>
            </div>

        </form>

        <div class="creator">
            <div class="line"></div>
            <h1>Erstellt von:</h1>
            <h2>{{channelCreatorName}}</h2>
        </div>
        <div class="btn-container">
            <button (click)=" removeUser()" class="leave-btn">Channel verlassen</button>
        </div>

        

    </div>
</section>