* {
    box-sizing: border-box;
}

p,
h2 {
    margin: 0;
}




.message-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    gap: 30px;
    padding: 10px 145px 10px 45px;


    .sender-img {
        width: 70px;
        height: 70px;
        border-radius: 100px;
    }

    &:hover {
        background-color: #ECEEFE;

        .message-text {
            background-color: white;
        }

        .reaction-bar {
            display: block;
        }
    }

}

.reaction-bar {
    position: absolute;
    display: none;
    top: -17px;
    right: 45px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;


    .sender {
        display: flex;
        align-items: center;
        gap: 20px;

        h2 {
            font-size: 18px;
            font-weight: 700;

            &:hover {
                cursor: pointer;
                color: #444DF2;
            }
        }

        p {
            font-size: 14px;
            color: #686868;
        }
    }

    .message-text {
        width: fit-content;
        padding: 15px;
        border-radius: 0px 30px 30px 30px;
        background-color: #ECEEFE;
        word-break: break-word;
        white-space: pre-wrap;
        font-size: 18px;

    }

    .reactions-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;



        .thread-responses {
            display: flex;
            align-items: center;
            flex-wrap: wrap;


            p:first-child {
                color: #444DF2;
                font-size: 18px;
                margin-right: 20px;

                &:hover {
                    cursor: pointer;
                    font-weight: 700;
                }
            }

            p:last-child {
                color: #686868;
                font-size: 14px;
            }
        }

        
    }
}

.my-message {
    flex-direction: row-reverse !important;
    padding: 10px 45px 10px 145px !important;

    .message {
        .sender {
            flex-direction: row-reverse !important;
        }

        .message-text {
            align-self: self-end;
            border-radius: 30px 0px 30px 30px !important;
            background-color: #797EF3;
            color: white;
        }

        .reactions-container {
            justify-content: flex-end !important;

            .thread-responses {
                justify-content: flex-end !important;
            }

        }
    }

    .reaction-bar {
        left: 45px !important;
        right: unset !important;
    }


}

.thread-message {
    padding: 10px 40px !important;
    gap: 20px !important;
}


emoji-mart {
    bottom: 215px;
    right: 165px;
}


.edit-input-container {
    position: relative;
    border-radius: 30px 0px 30px 30px !important;
    padding: 15px 80px 15px 15px;
    background-color: white;
    border: 1px solid #797EF3;
 

    .edit-input {
        all: unset;
        word-break: break-word;
        cursor: text;
        width: 100%;
    }

    .edit-input-actions {
        position: absolute;
        top: 5px;
        right: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            color: #686868;
            appearance: none;

            &:hover {
                cursor: pointer;
                color: #535AF1;
                background-color: #ECEEFE;
            }
        }

        .send-icon {
            font-variation-settings: 'FILL' 1;
            color: #444DF2;

            &:hover {
                cursor: pointer;
                color: #797EF3;
            }
        }
    }
}


:host ::ng-deep .highlighted {
    color: black !important;
    font-weight: bold !important;
    cursor: pointer !important;
    box-shadow: inset 0 0 0 20px #ECEEFE !important;
  }

  @media screen and (max-width: 1400px) {
    .message-container{
        padding: 10px 25px 10px 25px !important;
    }
  }