<div [class.my-message]="userService.loggedUserId === message.senderId" 
[class.thread-message]="chatType === 'thread'"
class="message-container">

    <app-reaction-bar [loggedUser]="userService.loggedUserId" [chatType]="chatType" class="reaction-bar"
        [message]="message"></app-reaction-bar>

    @for(user of userService.users; track user.id) {
    @if(user.id === message.senderId) {
    <img class="sender-img" src="{{user.userImage}}" alt="">
    }
    }

    <div class="message">

        <div class="sender">
            @for(user of userService.users; track user.id) {
            @if(user.id === message.senderId) {
            <h2>{{user.name}}</h2>
            }
            }
            <p>{{getTimeInHours(message.time)}} Uhr</p>
        </div>

        <p class="message-text">{{message.text}}</p>

        <div class="reactions-container">
            <div *ngIf="message.reactions.length > 0" class="emoji-reaction">
                <div *ngFor="let emoji of message.reactions" (click)="addExistingEmoji(emoji.emoji)" class="emoji-icon">
                    <p>{{emoji.emoji}}</p>
                    <p>{{emoji.users.length}}</p>
                    <div class="emoji-popup">
                        <p>{{emoji.emoji}}</p>
                        <div class="emoji-users">
                            <div *ngFor="let user of emoji.users; let i = index">
                                <p>{{user}}</p>
                                <p *ngIf="emoji.users.length > 2 && i < emoji.users.length - 2">,</p>
                                <p *ngIf="i === emoji.users.length - 2"> und</p>

                            </div>
                        </div>
                        <p>hat reagiert</p>
                    </div>
                </div>
                <div>
                    <mat-icon (click)="toggleEmojiPicker()" class="add-emoji"
                        fontSet="material-symbols-rounded">add_reaction</mat-icon>
                    @if (emojiPickerOn) {
                    <emoji-mart appClickOutside (clickOutside)="closeEmojiPicker()" title="Pick your emoji…"
                        emoji="point_up" set="twitter" (emojiClick)="addEmoji($event)"></emoji-mart>
                    }
                </div>
            </div>
            @if(chatType !== 'thread') {
                @if(countThreadAnswers(message.id) > 1) {
                    
                    <div class="thread-responses" (click)="openThread(message)">
                        <p>{{countThreadAnswers(message.id) -1}} Antworten</p>
                        <p>{{getLastThreadTime(message.id)}} Letzte Antwort </p>
                    </div>
                }
            }
        </div>
    </div>
</div>