<div [class.my-message]="logedUser === message.sender" class="message-container">
    <div class="actions-container">
        @if (emojiPickerOn) {
            <emoji-mart appClickOutside (clickOutside)="closeEmojiPicker()" title="Pick your emoji…" emoji="point_up"
                set="twitter" (emojiClick)="addEmoji($event)"></emoji-mart>
            }
        <div class="recent-emoji">
         
            <span *ngFor="let emoji of recentEmojis" class="emoji" (click)="addEmoji(emoji)">{{emoji}}</span>
            
            <mat-icon class="add-emoji" fontSet="material-symbols-rounded">close</mat-icon>
            <mat-icon class="open-thread" fontSet="material-symbols-rounded">close</mat-icon>
            <mat-icon class="open-options" fontSet="material-symbols-rounded">close</mat-icon>
            <div class="edit-mesages"></div>

        </div>
    </div>

    <img class="sender-img" src="chat-box/character_{{message.senderImg}}.svg" alt="">
    <div class="message">
        <div class="sender">
            <h2>{{message.sender}}</h2>
            <p>{{message.time}} Uhr</p>
        </div>
        <p class="message-text">{{message.text}}</p>
    </div>
</div>


<div>aaa</div>