* {
    box-sizing: border-box;
}

p,
h2 {
    margin: 0;
}




.message-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    gap: 30px;
    padding: 10px 145px 10px 45px;
 

    .sender-img {
        width: 70px;
        height: 70px;
        border-radius: 100px;
    }

    &:hover {
        cursor: pointer;
        background-color: #ECEEFE;

        .message-text {
            background-color: white;
        }

        .reaction-bar {
            display: block;
        }
    }

}

.reaction-bar {
    position: absolute;
    display: none;
    top: -17px;
    right: 45px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 8px;


    .sender {
        display: flex;
        align-items: center;
        gap: 20px;

        h2 {
            font-size: 18px;
            font-weight: 700;

            &:hover {
                color: #444DF2;
            }
        }

        p {
            font-size: 14px;
            color: #686868;
        }
    }

    .message-text {
        width: fit-content;
        padding: 15px;
        border-radius: 0px 30px 30px 30px;
        background-color: #ECEEFE;
        word-break: break-word;
        white-space: pre-wrap;

    }

    .reactions-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;



        .thread-responses {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
           

            p:first-child {
                color: #444DF2;
                font-size: 18px;
                margin-right: 20px;

                &:hover {
                    cursor: pointer;
                    font-weight: 700;
                }
            }

            p:last-child {
                color: #686868;
                font-size: 14px;
            }
        }

        .emoji-reaction {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;


            .emoji-icon {
                display: flex;
                padding: 5px 10px 5px 10px;
                gap: 10px;
                border-radius: 20px;
                border: 1px solid #ADB0D9;
                background-color: white;
                font-size: 16px;
                position: relative;

                &:hover {
                    .emoji-popup {
                        display: flex;
                    }
                }

                .emoji-popup {
                    min-width: 150px;
                    position: absolute;
                    bottom: 35px;
                    left: 35px;
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    padding: 15px 10px 15px 10px;
                    border-radius: 30px 30px 30px 0px;
                    background-color: #444DF2;
                    color: white;

                    p:first-child {
                        font-size: 22px;
                    }

                    .emoji-users {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 5px;

                        div {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            gap: 5px;

                            p {
                                font-size: 18px;
                                font-weight: 700;
                            }
                        }


                    }

                }

            }

            .add-emoji {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                border-radius: 30px;
                background-color: white;

                &:hover {
                    cursor: pointer;
                    background-color: #ECEEFE;
                    color: #535AF1;
                }
            }

        }




    }
}

.my-message {
    flex-direction: row-reverse !important;
    padding: 10px 45px 10px 145px !important;

    .message {
        .sender {
            flex-direction: row-reverse !important;
        }

        .message-text {
            align-self: self-end;
            border-radius: 30px 0px 30px 30px !important;
            background-color: #797EF3;
            color: white;
        }
        .reactions-container{
            justify-content: flex-end !important;
            .thread-responses{
                justify-content: flex-end !important;
            }

        }
    }
    .reaction-bar {
        left: 45px !important;
        right: unset !important;
    }


}

.thread-message {
    padding: 10px 40px !important;
    gap: 20px !important;
}


emoji-mart {
    top: 0px;
    left: 0px;
}

