<div [class.my-message]="userService.loggedUserId === message.senderId" [class.thread-message]="chatType === 'thread'"
    class="message-container">


    <app-reaction-bar [loggedUser]="userService.loggedUserId" [chatType]="chatType" class="reaction-bar"
        [message]="message"></app-reaction-bar>

    @for(user of userService.users; track user.id) {
    @if(user.id === message.senderId) {
    <img class="sender-img" src="{{user.userImage}}" alt="">
    }
    }

    <div class="message">

        <div class="sender">
            @for(user of userService.users; track user.id) {
            @if(user.id === message.senderId) {
            <h2>{{user.name}}</h2>
            }
            }
            <p>{{getTimeInHours(message.time)}} Uhr</p>
        </div>

        @if( message === messageService.editMessage) {
        <div class="edit-input-container" appClickOutside  [excludeElements]="excludeElements"  (clickOutside)="editMessageCancel()">
            <textarea #messageInput *ngIf="isBrowser" autosize class="edit-input" type="text" rows="1" (keyup.enter)="editMessage()"
                [(ngModel)]="messageService.editMessage.text"></textarea>
            <div class="edit-input-actions">

                <button (click)="emojiService.toggleEmojiPicker('editMessage', chatType, null); $event.stopPropagation()">
                    <mat-icon fontSet="material-symbols-rounded">sentiment_satisfied</mat-icon>
                </button>

                <mat-icon fontSet="material-symbols-rounded" class="send-icon" (click)="editMessage()">send</mat-icon>

            </div>
        </div>

        } @else {
            <div #messageContainer  class="message-text" [innerHTML]="message.text | highlight"></div>
        }

        <div class="reactions-container">
            <app-emoji-reaction [message]="message" [chatType]="chatType" [loggedUser]="userService.loggedUserId"></app-emoji-reaction>
            @if(chatType !== 'thread') {
            @if(countThreadAnswers(message.id) > 1) {

            <div class="thread-responses" (click)="openThread(message)">
                <p>{{countThreadAnswers(message.id) -1}} Antworten</p>
                <p>{{getLastThreadTime(message.id)}} Letzte Antwort </p>
            </div>
            }
            }
        </div>
    </div>
</div>