@import 'material-symbols';
@import '@ctrl/ngx-emoji-mart/picker';

html,
body {
  height: 100%;
  background-color: #eceefe;
}

body {
  margin: 0;

  font-family: nunito, Roboto, "Helvetica Neue", sans-serif;
}

* {
  border: none;
}

@font-face {
  font-family: nunito;
  src: url('/Nunito-VariableFont_wght.ttf');
}

