<div class="home-container">
    <app-slide-side-bar></app-slide-side-bar>


    <div class="channel-container" [ngClass]="{ 'slide-out': !chatService.slideOutNavBar, 'slide-in': chatService.slideOutNavBar }">
        <app-chat-box [chatType]="'channel'" [channelId]="selectedChannelId"></app-chat-box>
    </div>
    @if(selectedThreadId) {
        <div class="thread-container">
            <app-chat-box [chatType]="'thread'" [threadId]="selectedThreadId"></app-chat-box>
        </div>
    }
</div>  