<section>
  <app-feedback-overlay></app-feedback-overlay>
  <div class="section-content">
    <div class="headline">
      <h2>Passwort zurücksetzen</h2>
      <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
    </div>
    <form #form="ngForm">
      <div class="input">
        <img [src]="emailImg" alt="Email Icon" />
        <input
          placeholder="beispielname@email.com"
          type="email"
          name="email"
          [(ngModel)]="emailText"
          (ngModelChange)="enableButton(emailInput?.valid)"
          (focus)="onFocus('email')"
          (blur)="onBlur('email')"
          (input)="onInput('email', $event)"
          #emailInput="ngModel"
          required
          email
        />
        <div class="error-message" *ngIf="emailInput.invalid && emailInput.touched && showError">
          *Diese E-Mail-Adresse ist leider ungültig.
        </div>
      </div>
    </form>
    <span class="info-text">
      Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
    </span>
    <div class="send-btns">
      <button
        [disabled]="!sendMail"
        [ngClass]="{ 'primary-btn': sendMail, 'disabled-btn': !sendMail }"
        (click)="onSubmit()"
        class="primary-btn"
      >
        E-Mail senden
      </button>
    </div>
  </div>
</section>
