section {
  position: relative;
  background-color: #ffffff;
  border-radius: 30px;
  max-width: 700px;
  max-height: 769px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
  .back-arrow {
    cursor: pointer;
    position: absolute;
    top: 45px;
    left: 32px;
  }
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  padding: 32px 64px;
  form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 112px);
    gap: 40px;
    .input {
      position: relative;
      display: flex;
      align-items: center;
      height: 60px;
      border-radius: 100px;
      background-color: #eceefe;
      font-size: 18px;
      border: 1px solid #eceefe;
      margin-bottom: 56px;
      img {
        position: absolute;
        width: 24px;
        height: 24px;
        margin-inline: 30px;
      }
      input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 18px;
        border-radius: 100px;
        border: 1px solid #eceefe;
        padding-left: 84px;
        &:hover {
          border: 1px solid #686868;
        }
        &:focus {
          outline-style: none;
          border: 1px solid #535af1;
        }
      }
    }
  }
}

.error-message {
  position: absolute;
  top: 56px;
  font-size: 14px;
  color: #ed1e79;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 486px;
  h2 {
    color: #444df2;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 32px;
  }
  span {
    font-size: 20px;
    margin-bottom: 56px;
  }
}

.info-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 56px;
  width: calc(100% - 112px);
}

.send-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.primary-btn {
  cursor: pointer;
  width: 156px;
  height: 48px;
  border-radius: 25px;
  background-color: #444df2;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  &:hover {
    background-color: #797ef3;
  }
  &:active {
    background-color: #444df2;
  }
}

.disabled-btn {
  cursor: no-drop;
  width: 156px;
  height: 48px;
  border-radius: 25px;
  background-color: #686868;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 1920px) {
  section {
    min-height: 520px;
  }
  .section-content {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    form {
      .input {
        height: 48px;
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    margin-inline: 16px;
  }
  .section-content {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    form {
      width: 100%;
      .input {
        height: 48px;

        img {
          margin-inline: 16px;
        }
        input {
          padding-left: 56px;
        }
      }
    }
  }
  .info-text {
    width: 100%;
  }
}

@media (max-width: 653px) {
}

@media (max-width: 375px) {
  .headline {
    h2 {
      font-size: 32px;
      margin-bottom: 24px;
    }
    span {
      font-size: 16px;
    }
  }
  .section-content {
    form {
      .input {
        input {
          font-size: 14px;
        }
      }
    }
  }
  .primary-btn {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  section {
    .back-arrow {
      top: 30px;
      left: 16px;
    }
  }
  .section-content {
    padding: 32px 40px;
  }
  .headline {
    h2 {
      font-size: 32px;
      margin-inline: 16px;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 375px) {
  .send-btn {
    font-size: 14px;
  }
}
