div {
    max-width: 989px;    
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 42px;
    position: relative;
    padding-left: 45px;
    margin-right: 20px;

    a {
        position: absolute;
        right: 45px;
    }

    svg {
        width: 26px;
        height: 26px;
        color: #686868;
        cursor: pointer;
    }

    input {
        all: unset;
        color: #686868;
        font-size: 24px;
        width: 85%;
    }
}

@media screen and (max-width: 1250px) {
    div {
        padding-left: 32px;

        a {
            right: 28px;
        }

        input {
            font-size: 19px;
        }
    }
}

@media screen and (max-width: 1024px) {
    div {
        margin-top: 37px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 64px);
        padding-left: 24px;
        height: 48px;
        border: 1px solid #ADB0D9;

        a {
            right: 24px;
        }

        svg {
            height: 24px;
            width: 24px;
        }

        input {
            font-size: 17px;
            color: #686868;
        }
    }
}