div {
    max-width: 989px;    
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    margin-left: 114px;
    border-radius: 42px;
    position: relative;
    padding-left: 45px;

    a {
        position: absolute;
        right: 45px;
    }

    svg {
        width: 26px;
        height: 26px;
        color: #686868;
    }

    input {
        all: unset;
        color: #686868;
    }
}